.main-container{
    border: 1px solid black;
    height: auto;
}

#buttons{
    width: 100%;
    border: 1px solid red;
}

.middle{
    border: 1px solid blue;
    height: 100%;
    display: flex;
}

#gifs{
    border: 1px solid green;
    width: 65%;
    display: flex;
    flex-wrap: wrap;

}

#animal-form{
    border: 1px solid orange;
    width: 35%;
    padding: 5px;
}
